.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache
.coverage
htmlcov/
.git
.gitignore
.agents
.gemini
*.log
node_modules
apps/web-admin/dist
apps/web-admin/node_modules
packages/stock-data/data/cache_kline/
services/common-server/data/*.db
